<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <style>
    .main {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14pt;  
    }
  </style>
</head>
<div class="main">
  <strong>Recuperação de senha</strong>

  <p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}).</p>
  <p>Se não foi você quem solicitou, desconsidere este e-mail e recomendamos que você altere sua senha.</p>
  
  <p>Para alterar a sua senha utilize o token {{token}} ou clique no link abaixo<p>
  
  <a href="{{link}}">Alterar sua senha</a>
  <br>
  <br>
  <span>Equipe GoNode</span>  
</div>
